%%% -*- mode: erlang -*-
{cover_enabled, true}.
{ct_extra_params, "-ct_hooks cth_surefire"}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
  {kvlists, ".*", {git, "https://github.com/jcomellas/kvlists.git", {tag, "0.5.1"}}},
  {proper, ".*", {git, "https://github.com/manopapad/proper", {branch, "master"}}},
  {dlhttpc, ".*", {git, "https://github.com/loucash/dlhttpc.git", {branch, "fix-leaking-port"}}},
  {folsom, ".*", {git, "https://github.com/boundary/folsom.git", "bc9912604d6e68f588b8e35ace21c91272722640"}} ]}.


{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {lager_truncation_size, 4096}]}.

