%%% -*- mode: erlang -*-
{cover_enabled, true}.
{ct_extra_params, "-ct_hooks cth_surefire"}.

{deps,
 [{'lager', ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {'jsx', ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
  {'kvlists', ".*", {git, "https://github.com/jcomellas/kvlists.git", {tag, "0.5.1"}}},
  {'proper', ".*", {git, "https://github.com/manopapad/proper", {branch, "master"}}},
  {'lhttpc', ".*", {git, "https://github.com/esl/lhttpc", {tag, "1.3.0"}}}]}.


{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {lager_truncation_size, 4096}]}.

